In [1]:
import pandas as pd

In [2]:
house_transactions = pd.read_csv('house_transactions.csv', parse_dates=[2])
house_transactions.dropna(subset=['ticker'], inplace=True)
house_transactions = house_transactions[house_transactions['ticker'] != '--']
house_transactions = house_transactions[house_transactions['type'] != 'exchange']
house_transactions = house_transactions[house_transactions['transaction_date'].dt.year == 2020]
house_transactions.rename(columns={'ticker': 'ticker_original', 'type': 'type_detailed'}, inplace=True)
original_tickers = house_transactions['ticker_original']
house_transactions['ticker'] = [t.split(".")[0] if '.' in t else t for t in original_tickers]
house_transactions['share_class'] = [t.split(".")[1] if '.' in t else None for t in original_tickers]
house_transactions['type'] = house_transactions.apply(lambda row: 'Purchase' if row['type_detailed'] == 'purchase' else 'Sale', axis=1)
house_transactions['representative'] = house_transactions['representative'].str.slice(5)
house_transactions.sort_values(by='transaction_date', inplace=True)

house_transactions

,disclosure_year,disclosure_date,transaction_date,owner,ticker_original,asset_description,type_detailed,amount,representative,district,ptr_link,cap_gains_over_200_usd,ticker,share_class,type
1967,2020,01/13/2020,2020-01-02,NaN,NEE,"NextEra Energy, Inc.",sale_full,"$50,001 - $100,000",Debbie Dingell,MI12,https://disclosures-clerk.house.gov/public_dis...,True,NEE,None,Sale
9920,2020,02/07/2020,2020-01-02,--,XOM,Exxon Mobil Corporation,sale_full,"$1,001 - $15,000",Nicholas Van Taylor,TX03,https://disclosures-clerk.house.gov/public_dis...,False,XOM,None,Sale
9262,2020,01/31/2020,2020-01-02,--,BABA,Alibaba Group Holding Limited American Deposit...,sale_partial,"$1,001 - $15,000",James R. Langevin,RI02,https://disclosures-clerk.house.gov/public_dis...,False,BABA,None,Sale
4504,2020,01/06/2020,2020-01-02,NaN,AAPL,Apple Inc.,purchase,"$15,001 - $50,000",Bob Gibbs,OH07,https://disclosures-clerk.house.gov/public_dis...,False,AAPL,None,Purchase
10012,2020,01/10/2020,2020-01-02,NaN,RHHBY,Roche Holdings AG Basel American Depositary Sh...,purchase,"$1,001 - $15,000",Mikie Sherrill,NJ11,https://disclosures-clerk.house.gov/public_dis...,False,RHHBY,None,Purchase
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
849,2021,01/13/2021,2020-12-31,self,VIAC,ViacomCBS Inc. - Class B,sale_full,"$1,001 - $15,000",Debbie Dingell,MI12,https://disclosures-clerk.house.gov/public_dis...,False,VIAC,None,Sale
850,2021,01/13/2021,2020-12-31,NaN,DIS,Walt Disney Company,sale_partial,"$15,001 - $50,000",Debbie Dingell,MI12,https://disclosures-clerk.house.gov/public_dis...,False,DIS,None,Sale
5147,2021,01/11/2021,2020-12-31,NaN,ADBE,Adobe Inc,purchase,"$1,001 - $15,000",Gilbert Cisneros,CA39,https://disclosures-clerk.house.gov/public_dis...,False,ADBE,None,Purchase
553,2020,02/10/2021,2020-12-31,NaN,OHI,Omega healthcare REIT Investors,sale_full,"$15,001 - $50,000",Billy Long,MO07,https://disclosures-clerk.house.gov/public_dis...,False,OHI,None,Sale
5145,2021,01/11/2021,2020-12-31,NaN,V,"Visa, Inc. (U.S. Trust Holdings)",purchase,"$1,001 - $15,000",Gilbert Cisneros,CA39,https://disclosures-clerk.house.gov/public_dis...,False,V,None,Purchase

In [3]:
# f = open("house_tickers.txt", "w")
# f.write('\n'.join(house_transactions['ticker'].unique()))
# f.close()

In [4]:
house_stocks = pd.read_csv('house_stocks.csv', parse_dates=[1])
house_stocks

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (3,6,13,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,PERMNO,date,SHRCD,SICCD,TICKER,COMNAM,SHRCLS,TSYMBOL,HSICCD,BIDLO,ASKHI,PRC,VOL,RET,OPENPRC,NUMTRD,RETX
0,10104,2019-01-02,11.0,7372,ORCL,ORACLE CORP,NaN,ORCL,7372.0,44.45000,45.34000,45.22000,14320441.0,0.00155,44.48000,NaN,0.00155
1,10104,2019-01-03,11.0,7372,ORCL,ORACLE CORP,NaN,ORCL,7372.0,44.41000,45.50000,44.78000,19868713.0,-0.00973,44.75000,NaN,-0.00973
2,10104,2019-01-04,11.0,7372,ORCL,ORACLE CORP,NaN,ORCL,7372.0,45.25000,46.95000,46.71000,20983953.0,0.0431,45.37000,NaN,0.0431
3,10104,2019-01-07,11.0,7372,ORCL,ORACLE CORP,NaN,ORCL,7372.0,46.47000,48.10500,47.45000,17967907.0,0.015842,46.93000,NaN,0.015842
4,10104,2019-01-08,11.0,7372,ORCL,ORACLE CORP,NaN,ORCL,7372.0,47.20000,48.36000,47.88000,16255688.0,0.009062,47.93000,NaN,0.009062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562915,93436,2020-12-24,11.0,9999,TSLA,TESLA INC,NaN,TSLA,9999.0,641.00000,666.09003,661.77002,22813214.0,0.024444,642.98999,465870.0,0.024444
562916,93436,2020-12-28,11.0,9999,TSLA,TESLA INC,NaN,TSLA,9999.0,660.79999,681.40002,663.69000,32232732.0,0.002901,674.51001,631681.0,0.002901
562917,93436,2020-12-29,11.0,9999,TSLA,TESLA INC,NaN,TSLA,9999.0,655.00000,669.90002,665.98999,22867542.0,0.003465,661.00000,466884.0,0.003465
562918,93436,2020-12-30,11.0,9999,TSLA,TESLA INC,NaN,TSLA,9999.0,668.36029,696.59998,694.78003,42766263.0,0.043229,672.00000,767565.0,0.043229
562919,93436,2020-12-31,11.0,9999,TSLA,TESLA INC,NaN,TSLA,9999.0,691.12000,718.71997,705.66998,49544141.0,0.015674,699.98999,917115.0,0.015674

In [5]:
house_transactions = house_transactions[house_transactions['ticker'].isin(house_stocks['TICKER'].unique())]

In [6]:
# index = pd.read_csv('RUSSEL_3000_2020.csv', parse_dates=[0], index_col=0, thousands=r',')
index = pd.read_csv('sp500.csv', parse_dates=[0], index_col=0)

In [7]:
house = house_transactions.copy()
house.drop(columns=['ticker_original', 'ptr_link'], inplace=True)

In [8]:
amount_map = {
    '$1,001 -':1,
    '$1,001 - $15,000':1,
    '$15,001 - $50,000':2,
    '$50,001 - $100,000':3,
    '$100,001 - $250,000':4,
    '$250,001 - $500,000':5,
    '$500,001 - $1,000,000':6,
    '$1,000,001 - $5,000,000':7,
    '$5,000,001 - $25,000,000':8,
}
house['amount_discrete'] = house['amount'].apply(lambda a: amount_map[a])

In [9]:
market_cap = pd.read_csv('MarketCap_Dec31_2020.csv')[['ticker', 'Market Cap']].rename(columns = {'Market Cap':'market_cap'})
market_cap['market_cap'] = 1000 * market_cap['market_cap']
house = house.merge(market_cap, on='ticker')

In [10]:
times = {'1d':1, '5d':5, '1m':22, 'prev1d':-1, 'prev5d':-5, 'prev1m':-22}

for i, tr in house.iterrows():
    stock_prices = house_stocks[house_stocks['TICKER'] == tr['ticker']]
    if tr['share_class']:
        stock_prices = stock_prices[stock_prices['SHRCLS'] == tr['share_class']]
    stock_transaction = stock_prices[stock_prices['date'] == tr['transaction_date']]
    if len(stock_transaction) != 1:
        continue
    idx = stock_transaction.index[0]
    
    for time in times:
        multiplier = (1 if tr['type'] == 'Purchase' else -1) * (1 if times[time] > 0 else -1)
        try:
            house.loc[i, 'return_{}'.format(time)] = (stock_prices.loc[idx+times[time]]['PRC'] / stock_prices.loc[idx]['PRC'] - 1) * multiplier
            index_idx = index.index.get_loc(tr['transaction_date'])
            house.loc[i, 'return_index_{}'.format(time)] = (index.iloc[index_idx+times[time]]['spindx'] / index.iloc[index_idx]['spindx'] - 1) * multiplier
            house.loc[i, 'return_abnormal_{}'.format(time)] = house.loc[i, 'return_{}'.format(time)] - house.loc[i, 'return_index_{}'.format(time)]
        except:
            pass

In [11]:
house

,disclosure_year,disclosure_date,transaction_date,owner,asset_description,type_detailed,amount,representative,district,cap_gains_over_200_usd,...,return_abnormal_1m,return_prev1d,return_index_prev1d,return_abnormal_prev1d,return_prev5d,return_index_prev5d,return_abnormal_prev5d,return_prev1m,return_index_prev1m,return_abnormal_prev1m
0,2020,01/13/2020,2020-01-02,NaN,"NextEra Energy, Inc.",sale_full,"$50,001 - $100,000",Debbie Dingell,MI12,True,...,-0.096426,0.014835,-0.008309,0.023144,0.007921,-0.010581,0.018501,-0.020116,0.152929,-0.173045
1,2020,02/22/2020,2020-01-14,joint,"NextEra Energy, Inc.",purchase,"$1,001 - $15,000",Donald Sternoff Beyer,VA08,False,...,0.094741,0.005369,-0.001517,0.006886,0.025915,0.014002,0.011914,0.048238,0.043105,0.005133
2,2020,02/22/2020,2020-01-28,joint,"NextEra Energy, Inc.",purchase,"$1,001 - $15,000",Donald Sternoff Beyer,VA08,False,...,0.049194,-0.003499,0.009953,-0.013452,0.033558,-0.013598,0.047156,0.095181,0.016134,0.079046
3,2020,07/29/2020,2020-02-10,self,"NextEra Energy, Inc.",sale_partial,"$1,001 - $15,000",Joe Courtney,CT02,False,...,-0.028685,-0.008096,-0.007273,-0.000823,-0.018142,-0.030778,0.012636,-0.112387,-0.029546,-0.082841
4,2020,02/22/2020,2020-02-14,joint,"NextEra Energy, Inc.",purchase,"$1,001 - $15,000",Donald Sternoff Beyer,VA08,False,...,0.046820,0.010951,0.001840,0.009111,0.032242,0.015517,0.016725,0.110549,0.028700,0.081849
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5531,2021,01/28/2021,2020-12-29,NaN,"Pershing Square Tontine Holdings, Class A",purchase,"$1,001 - $15,000",Garret Graves,LA06,False,...,NaN,0.004596,-0.002232,0.006828,0.040597,0.008618,0.031979,0.067407,0.026131,0.041276
5532,2021,01/11/2021,2020-12-29,joint,Service Properties Trust - Shares of Beneficia...,purchase,"$1,001 - $15,000",Susie Lee,NV03,False,...,NaN,-0.014655,-0.002232,-0.012423,0.019828,0.008618,0.011209,-0.066810,0.026131,-0.092941
5533,2021,02/09/2021,2020-12-30,NaN,"Huntington Ingalls Industries, Inc.",sale_full,"$1,001 - $15,000",Dwight Evans,PA03,True,...,NaN,-0.011629,-0.001340,-0.010289,-0.029132,-0.011999,-0.017134,-0.023793,-0.025104,0.001312
5534,2020,02/10/2021,2020-12-31,NaN,Omega healthcare REIT Investors,sale_full,"$100,001 - $250,000",Billy Long,MO07,False,...,NaN,0.013767,-0.006398,0.020164,0.009086,-0.017588,0.026673,-0.030286,-0.035793,0.005506
5535,2020,02/10/2021,2020-12-31,NaN,Omega healthcare REIT Investors,sale_full,"$15,001 - $50,000",Billy Long,MO07,False,...,NaN,0.013767,-0.006398,0.020164,0.009086,-0.017588,0.026673,-0.030286,-0.035793,0.005506

In [12]:
house_members = pd.read_excel('house_members.xlsx', index_col=0, parse_dates=[6])
house_members['age'] = 2020 - house_members['born'].dt.year
house_members['in_office'] = 2020 - house_members['assumed_office']
house_members

,name,name_committee,party,education,assumed_office,born,age,in_office
name_long,,,,,,,,
Don Young,Don Young,Don Young,Republican,"Yuba College; California State University, Chi...",1973,1933-06-09,87,47
Eddie Bernice Johnson,Eddie Bernice Johnson,Eddie Bernice Johnson,Democratic,"St Mary's College, Indiana; Texas Christian Un...",1993,1935-12-03,85,27
Grace Napolitano,Grace Napolitano,Grace Napolitano,Democratic,Cerritos College; Texas Southmost College,1999,1936-12-04,84,21
Bill Pascrell,Bill Pascrell,Bill Pascrell,Democratic,Fordham University; BA; MA,1997,1937-01-25,83,23
Harold Dallas Rogers,Hal Rogers,Hal Rogers,Republican,Western Kentucky University; BA; University of...,1981,1937-12-31,83,39
...,...,...,...,...,...,...,...,...
Mark Green,Mark E. Green,Mark E. Green,Republican,United States Military Academy (BS); Universit...,2019,1964-11-08,56,1
Harley E. Rouda,Harley Rouda,Harley Rouda,Democratic,University of Kentucky (BA); Ohio State Univer...,2019,1978-10-20,42,1
David P. Roe,Phil Roe,Phil Roe,Republican,Austin Peay State University (BS); University ...,2009,1945-07-21,75,11
Wm. Lacy Clay,Lacy Clay,Lacy Clay,Democratic,"University of Maryland, College Park (BA)",2001,1956-07-27,64,19
Kenny Marchant,Kenny Marchant,Kenny Marchant,Republican,Southern Nazarene University (BA); Nazarene Th...,2005,1951-02-23,69,15

In [13]:
for h in house['representative'].unique():
    if h not in house_members.index:
        print(h)

In [14]:
committees = pd.read_excel('house_committees.xlsx')
committees['Committee'] = committees['Committee'].apply(lambda s: s.replace(' ', '_').replace(',', '').replace("'", ''))
committees

,House Member,House Member Name,Committee,Committee #
0,"David Scott, Georgia, Chair",David Scott,Agriculture,117
1,"Jim Costa, California",Jim Costa,Agriculture,117
2,"Jim McGovern, Massachusetts",Jim McGovern,Agriculture,117
3,"Filemon Vela Jr., Texas",Filemon Vela Jr.,Agriculture,117
4,"Alma Adams, North Carolina",Alma Adams,Agriculture,117
...,...,...,...,...
865,NaN,Phil Roe,Education_and_Labor,116
866,NaN,Lacy Clay,Financial_Services,116
867,NaN,Lacy Clay,Oversight_and_Reform,116
868,NaN,Kenny Marchant,Ways_and_Means,116
869,NaN,Kenny Marchant,Ethics,116

In [15]:
for name_index, row in house_members.iterrows():
    if name_index in house['representative'].unique() and row["name_committee"] not in committees['House Member Name'].unique():
        print(row["name_committee"])

Nancy Pelosi

In [16]:
for com in committees['Committee'].unique():
    house_members[com] = 0

for i, row in house_members.iterrows():
    for com in committees[committees['House Member Name'] == row['name_committee']]['Committee']:
        house_members.loc[i, com] = 1

house_members

,name,name_committee,party,education,assumed_office,born,age,in_office,Agriculture,Appropriations,...,House_Administration,Judiciary,Natural_Resources,Oversight_and_Reform,Rules,Science_Space_and_Technology,Small_Business,Transportation_and_Infrastructure,Veterans_Affairs,Ways_and_Means
name_long,,,,,,,,,,,,,,,,,,,,,
Don Young,Don Young,Don Young,Republican,"Yuba College; California State University, Chi...",1973,1933-06-09,87,47,0,0,...,0,0,1,0,0,0,0,1,0,0
Eddie Bernice Johnson,Eddie Bernice Johnson,Eddie Bernice Johnson,Democratic,"St Mary's College, Indiana; Texas Christian Un...",1993,1935-12-03,85,27,0,0,...,0,0,0,0,0,1,0,1,0,0
Grace Napolitano,Grace Napolitano,Grace Napolitano,Democratic,Cerritos College; Texas Southmost College,1999,1936-12-04,84,21,0,0,...,0,0,1,0,0,0,0,1,0,0
Bill Pascrell,Bill Pascrell,Bill Pascrell,Democratic,Fordham University; BA; MA,1997,1937-01-25,83,23,0,0,...,0,0,0,0,0,0,0,0,0,1
Harold Dallas Rogers,Hal Rogers,Hal Rogers,Republican,Western Kentucky University; BA; University of...,1981,1937-12-31,83,39,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Mark Green,Mark E. Green,Mark E. Green,Republican,United States Military Academy (BS); Universit...,2019,1964-11-08,56,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Harley E. Rouda,Harley Rouda,Harley Rouda,Democratic,University of Kentucky (BA); Ohio State Univer...,2019,1978-10-20,42,1,0,0,...,0,0,0,1,0,0,0,1,0,0
David P. Roe,Phil Roe,Phil Roe,Republican,Austin Peay State University (BS); University ...,2009,1945-07-21,75,11,0,0,...,0,0,0,0,0,0,0,0,1,0
Wm. Lacy Clay,Lacy Clay,Lacy Clay,Democratic,"University of Maryland, College Park (BA)",2001,1956-07-27,64,19,0,0,...,0,0,0,1,0,0,0,0,0,0
Kenny Marchant,Kenny Marchant,Kenny Marchant,Republican,Southern Nazarene University (BA); Nazarene Th...,2005,1951-02-23,69,15,0,0,...,0,0,0,0,0,0,0,0,0,1

In [17]:
house_returns = house.join(house_members, on='representative')
house_returns

,disclosure_year,disclosure_date,transaction_date,owner,asset_description,type_detailed,amount,representative,district,cap_gains_over_200_usd,...,House_Administration,Judiciary,Natural_Resources,Oversight_and_Reform,Rules,Science_Space_and_Technology,Small_Business,Transportation_and_Infrastructure,Veterans_Affairs,Ways_and_Means
0,2020,01/13/2020,2020-01-02,NaN,"NextEra Energy, Inc.",sale_full,"$50,001 - $100,000",Debbie Dingell,MI12,True,...,0,0,1,0,0,0,0,0,0,0
1,2020,02/22/2020,2020-01-14,joint,"NextEra Energy, Inc.",purchase,"$1,001 - $15,000",Donald Sternoff Beyer,VA08,False,...,0,0,0,0,0,1,0,0,0,1
2,2020,02/22/2020,2020-01-28,joint,"NextEra Energy, Inc.",purchase,"$1,001 - $15,000",Donald Sternoff Beyer,VA08,False,...,0,0,0,0,0,1,0,0,0,1
3,2020,07/29/2020,2020-02-10,self,"NextEra Energy, Inc.",sale_partial,"$1,001 - $15,000",Joe Courtney,CT02,False,...,0,0,0,0,0,0,0,0,0,0
4,2020,02/22/2020,2020-02-14,joint,"NextEra Energy, Inc.",purchase,"$1,001 - $15,000",Donald Sternoff Beyer,VA08,False,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5531,2021,01/28/2021,2020-12-29,NaN,"Pershing Square Tontine Holdings, Class A",purchase,"$1,001 - $15,000",Garret Graves,LA06,False,...,0,0,1,0,0,0,0,1,0,0
5532,2021,01/11/2021,2020-12-29,joint,Service Properties Trust - Shares of Beneficia...,purchase,"$1,001 - $15,000",Susie Lee,NV03,False,...,0,0,0,0,0,0,0,0,0,0
5533,2021,02/09/2021,2020-12-30,NaN,"Huntington Ingalls Industries, Inc.",sale_full,"$1,001 - $15,000",Dwight Evans,PA03,True,...,0,0,0,0,0,0,1,0,0,1
5534,2020,02/10/2021,2020-12-31,NaN,Omega healthcare REIT Investors,sale_full,"$100,001 - $250,000",Billy Long,MO07,False,...,0,0,0,0,0,0,0,0,0,0
5535,2020,02/10/2021,2020-12-31,NaN,Omega healthcare REIT Investors,sale_full,"$15,001 - $50,000",Billy Long,MO07,False,...,0,0,0,0,0,0,0,0,0,0

In [18]:
house_returns.to_csv(path_or_buf='house_returns.csv')