In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
house_transactions = pd.read_csv('house_transactions.csv', parse_dates=[2])
house_transactions.dropna(subset=['ticker'], inplace=True)
house_transactions = house_transactions[house_transactions['ticker'] != '--']
house_transactions = house_transactions[house_transactions['type'] != 'exchange']
house_transactions = house_transactions[house_transactions['transaction_date'].dt.year == 2020]
house_transactions.rename(columns={'ticker': 'ticker_original', 'type': 'type_detailed'}, inplace=True)
original_tickers = house_transactions['ticker_original']
house_transactions['ticker'] = [t.split(".")[0] if '.' in t else t for t in original_tickers]
house_transactions['share_class'] = [t.split(".")[1] if '.' in t else None for t in original_tickers]
house_transactions['type'] = house_transactions.apply(lambda row: 'Purchase' if row['type_detailed'] == 'purchase' else 'Sale', axis=1)
house_transactions['representative'] = house_transactions['representative'].str.slice(5)
house_transactions.sort_values(by=['ticker', 'transaction_date'], inplace=True)

house_transactions

,disclosure_year,disclosure_date,transaction_date,owner,ticker_original,asset_description,type_detailed,amount,representative,district,ptr_link,cap_gains_over_200_usd,ticker,share_class,type
4461,2020,05/05/2020,2020-04-09,NaN,A,"Agilent Technologies, Inc.",sale_partial,"$1,001 - $15,000",Peter Welch,VT00,https://disclosures-clerk.house.gov/public_dis...,True,A,None,Sale
4878,2020,12/29/2020,2020-11-17,joint,AA,American Airlines,sale_full,"$15,001 - $50,000",Kenny Marchant,TX24,https://disclosures-clerk.house.gov/public_dis...,False,AA,None,Sale
4487,2020,02/05/2020,2020-01-03,joint,AAGIY,"AIA Group, Ltd. Sponsored American Depository ...",purchase,"$15,001 - $50,000",Greg Gianforte,MT00,https://disclosures-clerk.house.gov/public_dis...,False,AAGIY,None,Purchase
5599,2020,02/14/2020,2020-01-13,joint,AAGIY,"AIA Group, Ltd. Sponsored American Depository ...",sale_full,"$15,001 - $50,000",Greg Gianforte,MT00,https://disclosures-clerk.house.gov/public_dis...,False,AAGIY,None,Sale
7419,2020,04/14/2020,2020-03-27,joint,AAGIY,"AIA Group, Ltd. Sponsored American Depository ...",purchase,"$50,001 - $100,000",Greg Gianforte,MT00,https://disclosures-clerk.house.gov/public_dis...,False,AAGIY,None,Purchase
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626,2020,04/09/2020,2020-03-27,NaN,ZTS,Zoetis Inc. Class A,purchase,"$1,001 - $15,000",John Curtis,UT03,https://disclosures-clerk.house.gov/public_dis...,False,ZTS,None,Purchase
1498,2020,08/03/2020,2020-07-21,self,ZTS,Zoetis Inc. Class A,sale_partial,"$1,001 - $15,000",Alan S. Lowenthal,CA47,https://disclosures-clerk.house.gov/public_dis...,False,ZTS,None,Sale
8344,2020,08/27/2020,2020-08-07,self,ZTS,Zoetis Inc. Class A,sale_full,"$1,001 - $15,000",Joe Courtney,CT02,https://disclosures-clerk.house.gov/public_dis...,False,ZTS,None,Sale
9034,2020,10/15/2020,2020-09-03,NaN,ZUO,"Zuora, Inc. Class A",purchase,"$15,001 - $50,000",Brian Mast,FL18,https://disclosures-clerk.house.gov/public_dis...,False,ZUO,None,Purchase
9224,2021,02/01/2021,2020-12-11,NaN,ZUO,"Zuora, Inc. Class A",sale_full,"$15,001 - $50,000",Brian Mast,FL18,https://disclosures-clerk.house.gov/public_dis...,True,ZUO,None,Sale

In [3]:
# f = open("house_tickers.txt", "w")
# f.write('\n'.join(house_transactions['ticker'].unique()))
# f.close()

In [4]:
house_stocks = pd.read_csv('house_stocks.csv', parse_dates=[1])
house_stocks['PRC'] = house_stocks['PRC'].abs()
house_stocks

/home/hannahwang/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (3,6,13,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,PERMNO,date,SHRCD,SICCD,TICKER,COMNAM,SHRCLS,TSYMBOL,HSICCD,BIDLO,ASKHI,PRC,VOL,RET,OPENPRC,NUMTRD,RETX
0,10104,2019-01-02,11.0,7372,ORCL,ORACLE CORP,NaN,ORCL,7372.0,44.45000,45.34000,45.22000,14320441.0,0.00155,44.48000,NaN,0.00155
1,10104,2019-01-03,11.0,7372,ORCL,ORACLE CORP,NaN,ORCL,7372.0,44.41000,45.50000,44.78000,19868713.0,-0.00973,44.75000,NaN,-0.00973
2,10104,2019-01-04,11.0,7372,ORCL,ORACLE CORP,NaN,ORCL,7372.0,45.25000,46.95000,46.71000,20983953.0,0.0431,45.37000,NaN,0.0431
3,10104,2019-01-07,11.0,7372,ORCL,ORACLE CORP,NaN,ORCL,7372.0,46.47000,48.10500,47.45000,17967907.0,0.015842,46.93000,NaN,0.015842
4,10104,2019-01-08,11.0,7372,ORCL,ORACLE CORP,NaN,ORCL,7372.0,47.20000,48.36000,47.88000,16255688.0,0.009062,47.93000,NaN,0.009062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562915,93436,2020-12-24,11.0,9999,TSLA,TESLA INC,NaN,TSLA,9999.0,641.00000,666.09003,661.77002,22813214.0,0.024444,642.98999,465870.0,0.024444
562916,93436,2020-12-28,11.0,9999,TSLA,TESLA INC,NaN,TSLA,9999.0,660.79999,681.40002,663.69000,32232732.0,0.002901,674.51001,631681.0,0.002901
562917,93436,2020-12-29,11.0,9999,TSLA,TESLA INC,NaN,TSLA,9999.0,655.00000,669.90002,665.98999,22867542.0,0.003465,661.00000,466884.0,0.003465
562918,93436,2020-12-30,11.0,9999,TSLA,TESLA INC,NaN,TSLA,9999.0,668.36029,696.59998,694.78003,42766263.0,0.043229,672.00000,767565.0,0.043229
562919,93436,2020-12-31,11.0,9999,TSLA,TESLA INC,NaN,TSLA,9999.0,691.12000,718.71997,705.66998,49544141.0,0.015674,699.98999,917115.0,0.015674

In [5]:
house_transactions = house_transactions[house_transactions['ticker'].isin(house_stocks['TICKER'].unique())]

In [6]:
# index = pd.read_csv('RUSSEL_3000_2020.csv', parse_dates=[0], index_col=0, thousands=r',')
index = pd.read_csv('sp500.csv', parse_dates=[0], index_col=0)

In [7]:
house = house_transactions.copy()
house.drop(columns=['ticker_original', 'ptr_link'], inplace=True)

In [8]:
amount_map = {
    '$1,001 -':1,
    '$1,001 - $15,000':1,
    '$15,001 - $50,000':2,
    '$50,001 - $100,000':3,
    '$100,001 - $250,000':4,
    '$250,001 - $500,000':5,
    '$500,001 - $1,000,000':6,
    '$1,000,001 - $5,000,000':7,
    '$5,000,001 - $25,000,000':8,
}
house['amount_discrete'] = house['amount'].apply(lambda a: amount_map[a])

In [9]:
market_cap = pd.read_csv('MarketCap_Dec31_2020.csv')[['ticker', 'Market Cap']].rename(columns = {'Market Cap':'market_cap'})
market_cap['market_cap'] = 1000 * market_cap['market_cap']
house = house.merge(market_cap, on='ticker')

In [ ]:
times = {'1d':1, '5d':5, '1m':22, 'prev1d':-1, 'prev5d':-5, 'prev1m':-22}

daily_returns = pd.DataFrame(columns=list(range(-21,23))+['type'])

prev_ticker = None
prev_stock_prices = None

for i, tr in house.iterrows():
    stock_prices = prev_stock_prices
    if tr['ticker'] != prev_ticker:
        stock_prices = house_stocks[house_stocks['TICKER'] == tr['ticker']]
        if tr['share_class']:
            stock_prices = stock_prices[stock_prices['SHRCLS'] == tr['share_class']]
        stock_prices['daily_return'] = stock_prices['PRC'].pct_change()
        prev_ticker = tr['ticker']
        prev_stock_prices = stock_prices
        
    stock_transaction = stock_prices[stock_prices['date'] == tr['transaction_date']]
    if len(stock_transaction) != 1:
        continue
    idx = stock_transaction.index[0]
    index_idx = index.index.get_loc(tr['transaction_date'])
    
    stock_daily_returns = stock_prices.loc[idx+times['prev1m']+1:idx+times['1m']]['daily_return']
    index_daily_returns = index.iloc[index_idx+times['prev1m']+1:index_idx+times['1m']+1]['sprtrn']
    if len(stock_daily_returns) == 44 and len(index_daily_returns) == 44:
        daily_returns.loc[i] = list(stock_daily_returns.to_numpy() - index_daily_returns.to_numpy()) + [tr['type']]
    
    for time in times:
        multiplier = (1 if tr['type'] == 'Purchase' else -1) * (1 if times[time] > 0 else -1)
        try:
            house.loc[i, 'return_{}'.format(time)] = (stock_prices.loc[idx+times[time]]['PRC'] / stock_prices.loc[idx]['PRC'] - 1) * multiplier
            house.loc[i, 'return_index_{}'.format(time)] = (index.iloc[index_idx+times[time]]['spindx'] / index.iloc[index_idx]['spindx'] - 1) * multiplier
            house.loc[i, 'return_abnormal_{}'.format(time)] = house.loc[i, 'return_{}'.format(time)] - house.loc[i, 'return_index_{}'.format(time)]
        except:
            pass

<ipython-input-10-2b7cc99dd76f>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_prices['daily_return'] = stock_prices['PRC'].pct_change()

In [ ]:
daily_returns

In [ ]:
def graph(tr_type):
    daily = daily_returns[daily_returns['type'] == tr_type]
    daily = daily.drop(columns=['type'])
    cumulative = daily + 1
    cumulative = cumulative.cumprod(axis=1)
    return cumulative.mean() - 1

plt.plot(graph('Purchase'))
plt.plot(graph('Sale'))

In [ ]:
def graph2(tr_type):
    daily = daily_returns[daily_returns['type'] == tr_type]
    daily = daily.drop(columns=['type'])
    daily = daily.mean()
    cumulative = (daily + 1).cumprod()
    return cumulative - 1

plt.plot(graph2('Purchase'))
plt.plot(graph2('Sale'))

In [ ]:
house

In [ ]:
house_members = pd.read_excel('house_members.xlsx', index_col=0, parse_dates=[6])
house_members['age'] = 2020 - house_members['born'].dt.year
house_members['in_office'] = 2020 - house_members['assumed_office']
house_members

In [ ]:
for h in house['representative'].unique():
    if h not in house_members.index:
        print(h)

In [ ]:
committees = pd.read_excel('house_committees.xlsx')
committees['Committee'] = committees['Committee'].apply(lambda s: s.replace(' ', '_').replace(',', '').replace("'", ''))
committees

In [ ]:
for name_index, row in house_members.iterrows():
    if name_index in house['representative'].unique() and row["name_committee"] not in committees['House Member Name'].unique():
        print(row["name_committee"])

In [ ]:
for com in committees['Committee'].unique():
    house_members[com] = 0

for i, row in house_members.iterrows():
    for com in committees[committees['House Member Name'] == row['name_committee']]['Committee']:
        house_members.loc[i, com] = 1

house_members

In [ ]:
house_returns = house.join(house_members, on='representative')
house_returns

In [ ]:
house_returns.to_csv(path_or_buf='house_returns.csv')