In [1]:
import pandas as pd
from datetime import timedelta

In [2]:
senate_transactions = pd.read_csv('senate_transactions.csv', parse_dates = [0])
senate_transactions.dropna(subset=['ticker'], inplace=True)
senate_transactions = senate_transactions[senate_transactions['ticker'] != '--']
senate_transactions = senate_transactions[senate_transactions['asset_type'] == 'Stock']
senate_transactions = senate_transactions[senate_transactions['type'] != 'Exchange']
senate_transactions = senate_transactions[senate_transactions['transaction_date'].dt.year == 2020]
senate_transactions.rename(columns={'ticker': 'ticker_original', 'type': 'type_detailed'}, inplace=True)
original_tickers = senate_transactions['ticker_original']
senate_transactions['ticker'] = [t.split("-")[0] if '-' in t else t for t in original_tickers]
senate_transactions['share_class'] = [t.split("-")[1] if '-' in t else None for t in original_tickers]
senate_transactions['type'] = senate_transactions.apply(lambda row: 'Purchase' if row['type_detailed'] == 'Purchase' else 'Sale', axis=1)
senate_transactions.sort_values(by='transaction_date', inplace=True)

# maybe consider only transactions with owner == Self?

senate_transactions

,transaction_date,owner,ticker_original,asset_description,asset_type,type_detailed,amount,comment,senator,ptr_link,ticker,share_class,type
1714,2020-01-02,Joint,ENTG,"Entegris, Inc.",Stock,Sale (Partial),"$1,001 - $15,000",--,"David A Perdue , Jr",https://efdsearch.senate.gov/search/view/ptr/a...,ENTG,None,Sale
1713,2020-01-02,Joint,ENTG,"Entegris, Inc.",Stock,Sale (Partial),"$1,001 - $15,000",--,"David A Perdue , Jr",https://efdsearch.senate.gov/search/view/ptr/a...,ENTG,None,Sale
1712,2020-01-03,Joint,RF,Regions Financial Corporation,Stock,Purchase,"$15,001 - $50,000",--,"David A Perdue , Jr",https://efdsearch.senate.gov/search/view/ptr/a...,RF,None,Purchase
1688,2020-01-06,Spouse,NFLX,"Netflix, Inc.",Stock,Sale (Full),"$15,001 - $50,000",555,Pat Roberts,https://efdsearch.senate.gov/search/view/ptr/5...,NFLX,None,Sale
1685,2020-01-06,Spouse,AMZN,"Amazon.com, Inc.",Stock,Sale (Full),"$15,001 - $50,000",R,Pat Roberts,https://efdsearch.senate.gov/search/view/ptr/5...,AMZN,None,Sale
...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,2020-12-31,Spouse,PII,Polaris Inc.,Stock,Sale (Full),"$1,001 - $15,000",--,Shelley M Capito,https://efdsearch.senate.gov/search/view/ptr/5...,PII,None,Sale
148,2020-12-31,Spouse,SYY,Sysco Corporation,Stock,Sale (Full),"$1,001 - $15,000",--,Shelley M Capito,https://efdsearch.senate.gov/search/view/ptr/5...,SYY,None,Sale
147,2020-12-31,Spouse,AMT,American Tower Corporation (REIT),Stock,Purchase,"$1,001 - $15,000",--,Shelley M Capito,https://efdsearch.senate.gov/search/view/ptr/5...,AMT,None,Purchase
146,2020-12-31,Spouse,PSX,Phillips 66,Stock,Purchase,"$1,001 - $15,000",--,Shelley M Capito,https://efdsearch.senate.gov/search/view/ptr/5...,PSX,None,Purchase
145,2020-12-31,Spouse,UNH,UnitedHealth Group Incorporated,Stock,Purchase,"$1,001 - $15,000",--,Shelley M Capito,https://efdsearch.senate.gov/search/view/ptr/5...,UNH,None,Purchase

In [3]:
' '.join(senate_transactions['ticker'].unique())

'ENTG RF NFLX AMZN NVDA MA ALB FEYE AAPL URBN ETY PG KSS BFAM GPK BABA PRU DFS CDLX DD WPX BAC REZI BAM INTU PYPL DHR ROST AXTA BMEZ CMCSA GLW KEYS AZO TJX HON KL TCEHY FNKO ARNA ROKU HBI WMB TRGP ET ORLY MSFT EEFT WM DLR CTXS XOM ORCL ICE WMT LNG DCP ENB MPLX WES SHLX OKE T DOCU PSXP VIAC HQL BSTZ IPHI FB TRP CME DAL CZR DVN PFE ADP DIS RPM FIS DG GM KR LULU JPM ABT JNJ WFC BRK BKNG VFC PSX MMM C DOW AMGN BLK HELE EMR MDT TROW EAF NWSA M MSM FOXA HAL VWO CVX SIEGY CGNX GEL ILMN CSCO HUN LYV FOX AIG UHAL PEP FHB CTSH TDG DXCM PODD SYY AIZ SBUX GOOG CLX HIG WDC K CR ADM CAH BOIVF V PAGP CEF RL NWS MPC ABBV VOD VZ BA MU CVS SWKS TRV MRK DGX TSN FPL NVO DRI QCOM FITB CAG RMD APO LHX HPQ CB KNX CFG GLAD RTN MET PKG ARCC ARE LGI IRM CAT AVGO KLAC AMAT RDS DNKN IRBT GRUB QSR RTX LMT SAP TFC LOW FDX MDLZ PBA KMI VTR EBAY COST KEY CEQP JD STZ NNVC GLNCY GOOGL AGCO UPS TEX EQM AA UTX STT BMY CTVA CL BP MO AGN GS TGT USB BX AMT ANTM BK BAX SYK COP ACA EXR SLB LGF NKE KHC BAH UN SU KO HCA PAA MMP EPD TCP SUN SOJA URI SO NSC PM LLY AFL CAIFX FRIAX HD GIS INTC F VMC CRWD JCI TEL BYND MCD DPZ MTCH BRY GE BLL UBER VAC MAR TRIP BERY AAL COUP STX SPOT NOC WIW TSLA MPW AXS OHI NKLA MANT HASI LMRK AY OSK PLD DHI PSA WDAY LDP NVAX GOLD BBY GLD IBM ALL TXN CONE SQ GILD OXY W AMWD ZM TT RIO ERIC SNPS MRVL PAGS VIAV SI DDOG EVOP PAAS TMO MAXR NTLA FTNT BRKR ACIW NUAN AJRD GMAB ATVI WW AIV AEP EXPI PLUG CRSP VTRS NTAP CARR OTIS PII UNH'

In [4]:
senate_stocks = pd.read_csv('senate_stocks.csv', parse_dates=[1])
senate_stocks

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (3,12,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,PERMNO,date,SHRCD,SICCD,TICKER,COMNAM,SHRCLS,HSICCD,BIDLO,ASKHI,PRC,VOL,RET,BID,ASK,OPENPRC,NUMTRD,RETX
0,10104,2019-01-02,11,7372,ORCL,ORACLE CORP,NaN,7372.0,44.45000,45.34000,45.22000,14320441.0,0.00155,45.20000,45.21000,44.48000,NaN,0.00155
1,10104,2019-01-03,11,7372,ORCL,ORACLE CORP,NaN,7372.0,44.41000,45.50000,44.78000,19868713.0,-0.00973,44.78000,44.79000,44.75000,NaN,-0.00973
2,10104,2019-01-04,11,7372,ORCL,ORACLE CORP,NaN,7372.0,45.25000,46.95000,46.71000,20983953.0,0.0431,46.72000,46.73000,45.37000,NaN,0.0431
3,10104,2019-01-07,11,7372,ORCL,ORACLE CORP,NaN,7372.0,46.47000,48.10500,47.45000,17967907.0,0.015842,47.45000,47.46000,46.93000,NaN,0.015842
4,10104,2019-01-08,11,7372,ORCL,ORACLE CORP,NaN,7372.0,47.20000,48.36000,47.88000,16255688.0,0.009062,47.88000,47.89000,47.93000,NaN,0.009062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172531,93436,2020-12-24,11,9999,TSLA,TESLA INC,NaN,9999.0,641.00000,666.09003,661.77002,22813214.0,0.024444,661.62000,661.78003,642.98999,465870.0,0.024444
172532,93436,2020-12-28,11,9999,TSLA,TESLA INC,NaN,9999.0,660.79999,681.40002,663.69000,32232732.0,0.002901,663.59998,663.77002,674.51001,631681.0,0.002901
172533,93436,2020-12-29,11,9999,TSLA,TESLA INC,NaN,9999.0,655.00000,669.90002,665.98999,22867542.0,0.003465,665.82001,665.97998,661.00000,466884.0,0.003465
172534,93436,2020-12-30,11,9999,TSLA,TESLA INC,NaN,9999.0,668.36029,696.59998,694.78003,42766263.0,0.043229,694.64001,694.78003,672.00000,767565.0,0.043229
172535,93436,2020-12-31,11,9999,TSLA,TESLA INC,NaN,9999.0,691.12000,718.71997,705.66998,49544141.0,0.015674,705.21002,705.50000,699.98999,917115.0,0.015674

In [5]:
senate_transactions = senate_transactions[senate_transactions['ticker'].isin(senate_stocks['TICKER'].unique())]

In [6]:
index = pd.read_csv('RUSSEL_3000_2020.csv', parse_dates=[0], thousands=r',')
index

          Date     Open     High      Low    Close
0   2020-01-02  1898.47  1906.65  1893.55  1906.50
1   2020-01-03  1898.47  1906.65  1889.50  1894.53
2   2020-01-06  1885.39  1900.99  1883.30  1900.90
3   2020-01-07  1899.05  1900.22  1893.15  1896.01
4   2020-01-08  1896.88  1912.90  1895.99  1905.02
..         ...      ...      ...      ...      ...
248 2020-12-24  2226.15  2229.05  2220.99  2228.63
249 2020-12-28  2234.79  2246.14  2234.79  2240.85
250 2020-12-29  2241.85  2252.76  2228.60  2232.01
251 2020-12-30  2234.63  2244.76  2234.63  2237.76
252 2020-12-31  2237.70  2250.55  2233.09  2248.44

[253 rows x 5 columns]

In [7]:
times = {'1d':1, '5d':5, '1m':22}

def get_return(tr, time):
    stock_prices = senate_stocks[senate_stocks['TICKER'] == tr['ticker']]
    if tr['share_class']:
        stock_prices = stock_prices[stock_prices['SHRCLS'] == tr['share_class']]
    stock_prices = stock_prices[stock_prices['date'] >= tr['transaction_date']]['PRC']
    try:
        return (stock_prices.iloc[times[time]] / stock_prices.iloc[0] - 1) * (1 if tr['type'] == 'Purchase' else -1)
    except:
        return None

def get_index_return(tr, time):
    if tr['return_{}'.format(time)] is None or pd.isnull(tr['return_{}'.format(time)]):
        return None
    index_prices = index[index['Date'] >= tr['transaction_date']]['Close']
    try:
        return (index_prices.iloc[times[time]] / index_prices.iloc[0] - 1) * (1 if tr['type'] == 'Purchase' else -1)
    except:
        return None

In [8]:
senate = senate_transactions.copy()
senate.drop(columns=['ticker_original', 'asset_type', 'comment', 'ptr_link'], inplace=True)

In [9]:
set(senate.amount)

{'$1,000,001 - $5,000,000',
 '$1,001 - $15,000',
 '$100,001 - $250,000',
 '$15,001 - $50,000',
 '$250,001 - $500,000',
 '$5,000,001 - $25,000,000',
 '$50,001 - $100,000'}

In [10]:
amount_map = {
    '$1,001 - $15,000':1,
    '$15,001 - $50,000':2,
    '$50,001 - $100,000':3,
    '$100,001 - $250,000':4,
    '$250,001 - $500,000':5,
    '$1,000,001 - $5,000,000':6,
    '$5,000,001 - $25,000,000':7,
}
senate['amount_discrete'] = senate['amount'].apply(lambda a: amount_map[a])

In [11]:
senate['return_1d'] = senate.apply( lambda row: get_return(row, '1d'), axis=1)
senate['return_5d'] = senate.apply(lambda row: get_return(row, '5d'), axis=1)
senate['return_1m'] = senate.apply(lambda row: get_return(row, '1m'), axis=1)
senate['return_index_1d'] = senate.apply(lambda row: get_index_return(row, '1d'), axis=1)
senate['return_index_5d'] = senate.apply(lambda row: get_index_return(row, '5d'), axis=1)
senate['return_index_1m'] = senate.apply(lambda row: get_index_return(row, '1m'), axis=1)
for time in times:
    senate['return_abnormal_{}'.format(time)] = senate['return_{}'.format(time)] - senate['return_index_{}'.format(time)]

In [12]:
senate

,transaction_date,owner,asset_description,type_detailed,amount,senator,ticker,share_class,type,amount_discrete,return_1d,return_5d,return_1m,return_index_1d,return_index_5d,return_index_1m,return_abnormal_1d,return_abnormal_5d,return_abnormal_1m
1714,2020-01-02,Joint,"Entegris, Inc.",Sale (Partial),"$1,001 - $15,000","David A Perdue , Jr",ENTG,None,Sale,1,0.007848,-0.023936,-0.093192,0.006279,-0.005355,-0.013942,0.001569,-0.018580,-0.079250
1713,2020-01-02,Joint,"Entegris, Inc.",Sale (Partial),"$1,001 - $15,000","David A Perdue , Jr",ENTG,None,Sale,1,0.007848,-0.023936,-0.093192,0.006279,-0.005355,-0.013942,0.001569,-0.018580,-0.079250
1712,2020-01-03,Joint,Regions Financial Corporation,Purchase,"$15,001 - $50,000","David A Perdue , Jr",RF,None,Purchase,2,-0.011330,-0.025045,-0.011926,0.003362,0.008841,0.030688,-0.014692,-0.033886,-0.042614
1688,2020-01-06,Spouse,"Netflix, Inc.",Sale (Full),"$15,001 - $50,000",Pat Roberts,NFLX,None,Sale,2,0.015127,-0.009201,-0.092666,0.002572,-0.012794,-0.029917,0.012554,0.003593,-0.062749
1685,2020-01-06,Spouse,"Amazon.com, Inc.",Sale (Full),"$15,001 - $50,000",Pat Roberts,AMZN,None,Sale,2,-0.002092,0.006085,-0.077435,0.002572,-0.012794,-0.029917,-0.004664,0.018879,-0.047518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,2020-12-31,Spouse,Polaris Inc.,Sale (Full),"$1,001 - $15,000",Shelley M Capito,PII,None,Sale,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,2020-12-31,Spouse,Sysco Corporation,Sale (Full),"$1,001 - $15,000",Shelley M Capito,SYY,None,Sale,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,2020-12-31,Spouse,American Tower Corporation (REIT),Purchase,"$1,001 - $15,000",Shelley M Capito,AMT,None,Purchase,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,2020-12-31,Spouse,Phillips 66,Purchase,"$1,001 - $15,000",Shelley M Capito,PSX,None,Purchase,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,2020-12-31,Spouse,UnitedHealth Group Incorporated,Purchase,"$1,001 - $15,000",Shelley M Capito,UNH,None,Purchase,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
senators = pd.read_excel('senate_members.xlsx', index_col=0)
senators['Age'] = 2020 - senators['Born'].dt.year
senators['In_Office'] = 2020 - senators['Assumed office'].dt.year
senators.drop(columns=['Unnamed: 6'], inplace=True)
senators

,Senator,Party,Born,Occupation(s),Assumed office,Age,In_Office
Name,,,,,,,
Dianne Feinstein,Dianne Feinstein,Democratic,1933-06-22,"Non-profit organization fellow; Member, Califo...",1992-11-10,87,28
Chuck Grassley,Chuck Grassley,Republican,1933-09-17,Farmer; College professor,1981-01-03,87,39
Richard Shelby,Richard Shelby,Republican,1934-05-06,Lawyer,1987-01-03,86,33
James M Inhofe,Jim Inhofe,Republican,1934-11-17,"Specialist Fourth Class, U.S. Army; Businessma...",1994-11-16,86,26
Patrick Leahy,Patrick Leahy,Democratic,1940-03-31,Lawyer,1975-01-03,80,45
...,...,...,...,...,...,...,...
Josh Hawley,Josh Hawley,Republican,1979-12-31,Lawyer; Professor,2019-01-03,41,1
Jon Ossoff,Jon Ossoff,Democratic,1987-02-16,Investigative journalist; Documentary film pro...,2021-01-20,33,-1
"David A Perdue , Jr",David Perdue,Republican,1949-12-10,Corporate executive,2015-03-01,71,5
Kelly Loeffler,Kelly Loeffler,Republican,1970-11-27,Corporate executive,2020-06-01,50,0
Pat Roberts,Pat Roberts,Republican,1936-04-20,United States Marine Corps officer; Journalist...,1997-03-01,84,23

In [14]:
committees = pd.read_excel('senate_committees.xlsx', header=1,usecols=[1,2,3])
committees['Committee'] = committees['Committee'].apply(lambda s: s.replace(' ', '_').replace(',', '').replace("'", ''))
committees

                 Name                                   Committee  Committee #
0        Alex Padilla                                      Budget          117
1        Alex Padilla                Environment_and_Public_Works          117
2        Alex Padilla  Homeland_Security_and_Governmental_Affairs          117
3        Alex Padilla                                   Judiciary          117
4        Alex Padilla                    Rules_and_Administration          117
..                ...                                         ...          ...
706         Tom Udall                    Rules_and_Administration          116
707  Tommy Tuberville          Agriculture_Nutrition_and_Forestry          117
708  Tommy Tuberville                              Armed_Services          117
709  Tommy Tuberville         Health_Education_Labor_and_Pensions          117
710  Tommy Tuberville                            Veterans_Affairs          117

[711 rows x 3 columns]

In [15]:
for com in committees['Committee'].unique():
    senators[com] = 0

for i, row in senators.iterrows():
    for com in committees[committees['Name'] == row['Senator']]['Committee']:
        senators.loc[i, com] = 1

senators

,Senator,Party,Born,Occupation(s),Assumed office,Age,In_Office,Budget,Environment_and_Public_Works,Homeland_Security_and_Governmental_Affairs,...,Commerce_Science_and_Transportation,Armed_Services,Energy_and_Natural_Resources,Finance,Foreign_Relations,Small_Business_and_Entrepreneurship,Health_Education_Labor_and_Pensions,Banking_Housing_and_Urban_Affairs,Veterans_Affairs,Appropriations
Name,,,,,,,,,,,,,,,,,,,,,
Dianne Feinstein,Dianne Feinstein,Democratic,1933-06-22,"Non-profit organization fellow; Member, Califo...",1992-11-10,87,28,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Chuck Grassley,Chuck Grassley,Republican,1933-09-17,Farmer; College professor,1981-01-03,87,39,1,0,0,...,0,0,0,1,0,0,0,0,0,0
Richard Shelby,Richard Shelby,Republican,1934-05-06,Lawyer,1987-01-03,86,33,0,1,0,...,0,0,0,0,0,0,0,1,0,1
James M Inhofe,Jim Inhofe,Republican,1934-11-17,"Specialist Fourth Class, U.S. Army; Businessma...",1994-11-16,86,26,0,1,0,...,0,1,0,0,0,1,0,0,0,0
Patrick Leahy,Patrick Leahy,Democratic,1940-03-31,Lawyer,1975-01-03,80,45,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Josh Hawley,Josh Hawley,Republican,1979-12-31,Lawyer; Professor,2019-01-03,41,1,0,0,1,...,0,1,0,0,0,1,0,0,0,0
Jon Ossoff,Jon Ossoff,Democratic,1987-02-16,Investigative journalist; Documentary film pro...,2021-01-20,33,-1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
"David A Perdue , Jr",David Perdue,Republican,1949-12-10,Corporate executive,2015-03-01,71,5,1,0,0,...,0,1,0,0,1,0,0,0,0,0
Kelly Loeffler,Kelly Loeffler,Republican,1970-11-27,Corporate executive,2020-06-01,50,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
Pat Roberts,Pat Roberts,Republican,1936-04-20,United States Marine Corps officer; Journalist...,1997-03-01,84,23,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [16]:
senate_returns = senate.join(senators, on='senator')
senate_returns.reset_index(drop = True, inplace = True)

In [17]:
senate_returns.to_csv(path_or_buf='senate_returns.csv', index = False)