In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from statsmodels.stats import weightstats
pd.options.display.float_format = '{:.5f}'.format

import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [2]:
senate = pd.read_csv('senate_returns.csv')
house = pd.read_csv('house_returns.csv')

In [3]:
write_to_csv = False

if write_to_csv:
    open('ws_returns.csv', 'w').close()

In [4]:
return_cols = ['return_abnormal_prev1m', 'return_abnormal_prev5d', 'return_abnormal_prev1d', 'return_abnormal_1d', 'return_abnormal_5d', 'return_abnormal_1m']

def winsorize_returns(returns, tr_type=None, display_df=False):
    returns = returns.dropna(subset=return_cols)
    if tr_type:
        returns = returns[returns['type'] == tr_type]
    
    if display_df:
        display(returns[return_cols].describe())
    
    winsorized_returns = returns.copy()
    
    winsorized_returns[return_cols] = returns[return_cols].apply(lambda col: stats.mstats.winsorize(col, limits=[0.01, 0.01]).data)
    if display_df:
        display(winsorized_returns[return_cols].describe())
        return
    
    return winsorized_returns

In [30]:
def summary(returns, name=None):
    df = returns.describe().loc[['count', 'mean', 'std', 'min', 'max']]
    
    ttest = returns.apply(lambda col: stats.ttest_1samp(col, 0))   
    df = df.append(ttest)
    df = df.rename({0: 't-stat', 1: 'p-value'})
    df = df.rename(lambda x: x.split('_')[2], axis=1)
    
    if write_to_csv and name:
        with open('ws_returns.csv', 'a') as f:
            f.write('\n\n{}\n'.format(name))
            df.to_csv(f)
        
    return df

In [43]:
house[house['type'] == 'Purchase'][return_cols].describe()

,return_abnormal_prev1m,return_abnormal_prev5d,return_abnormal_prev1d,return_abnormal_1d,return_abnormal_5d,return_abnormal_1m
count,2658.00000,2658.00000,2658.00000,2658.00000,2658.00000,2658.00000
mean,0.00092,0.00469,0.00051,0.00010,0.00444,0.00316
std,0.24768,0.08831,0.03684,0.03825,0.08335,0.18231
min,-0.78540,-0.78790,-0.27100,-0.37049,-0.70204,-0.80166
25%,-0.06546,-0.02705,-0.01312,-0.01336,-0.03159,-0.06652
50%,-0.00658,0.00203,0.00050,0.00015,-0.00072,-0.00348
75%,0.05815,0.03542,0.01378,0.01199,0.03181,0.05825
max,10.37668,0.63974,0.39589,0.56169,0.86694,5.70475

In [44]:
house[house['type'] == 'Sale'][return_cols].describe()

,return_abnormal_prev1m,return_abnormal_prev5d,return_abnormal_prev1d,return_abnormal_1d,return_abnormal_5d,return_abnormal_1m
count,2489.00000,2489.00000,2489.00000,2489.00000,2489.00000,2489.00000
mean,-0.01899,0.00211,0.00063,-0.00274,-0.01352,-0.02831
std,0.36484,0.10228,0.04562,0.04131,0.09670,0.22791
min,-15.09806,-1.21463,-1.23935,-0.27224,-1.29664,-5.70475
25%,-0.06884,-0.02638,-0.01224,-0.01356,-0.03598,-0.06790
50%,0.00503,0.00356,0.00082,-0.00076,-0.00198,-0.00159
75%,0.06831,0.03448,0.01407,0.01233,0.02755,0.06106
max,0.76936,0.75538,0.30674,0.73933,0.75538,0.75026

In [45]:
senate[senate['type'] == 'Purchase'][return_cols].describe()

,return_abnormal_prev1m,return_abnormal_prev5d,return_abnormal_prev1d,return_abnormal_1d,return_abnormal_5d,return_abnormal_1m
count,536.00000,536.00000,536.00000,536.00000,536.00000,536.00000
mean,-0.00943,-0.00895,0.00001,-0.00274,-0.00280,-0.00888
std,0.17738,0.11225,0.04998,0.04974,0.10252,0.16697
min,-0.78533,-0.76972,-0.27505,-0.77267,-0.78790,-0.86315
25%,-0.08846,-0.03343,-0.01635,-0.01553,-0.03929,-0.07055
50%,-0.00398,-0.00037,-0.00071,-0.00134,-0.00456,-0.00556
75%,0.07590,0.03111,0.01356,0.01358,0.02929,0.06299
max,0.60781,0.75622,0.41434,0.28033,0.52363,1.13457

In [46]:
senate[senate['type'] == 'Sale'][return_cols].describe()

,return_abnormal_prev1m,return_abnormal_prev5d,return_abnormal_prev1d,return_abnormal_1d,return_abnormal_5d,return_abnormal_1m
count,605.00000,605.00000,605.00000,605.00000,605.00000,605.00000
mean,0.00756,0.00607,0.00461,0.00009,0.00245,0.01413
std,0.15700,0.08477,0.03422,0.03400,0.08159,0.16703
min,-0.59733,-0.34683,-0.13254,-0.23932,-0.39205,-1.40939
25%,-0.06617,-0.02904,-0.01097,-0.01308,-0.02738,-0.06203
50%,0.00563,0.00639,0.00458,0.00054,0.00263,0.00839
75%,0.07791,0.03588,0.01920,0.01840,0.03662,0.08582
max,0.74618,0.78933,0.22114,0.16791,0.74980,0.76243

In [6]:
summary(winsorize_returns(house, tr_type='Purchase')[return_cols], 'House Purchase')

            prev1m     prev5d     prev1d         1d         5d         1m
count   2658.00000 2658.00000 2658.00000 2658.00000 2658.00000 2658.00000
mean      -0.00308    0.00472    0.00028   -0.00024    0.00369    0.00022
std        0.13102    0.07448    0.03139    0.03067    0.06842    0.12667
min       -0.40240   -0.24791   -0.11030   -0.10671   -0.18022   -0.38918
max        0.44066    0.27152    0.10207    0.11526    0.27039    0.44609
t-stat    -1.21134    3.26459    0.45985   -0.41034    2.77896    0.09141
p-value    0.22587    0.00111    0.64566    0.68159    0.00549    0.92717

In [7]:
summary(winsorize_returns(house, tr_type='Sale')[return_cols], 'House Sale')

            prev1m     prev5d     prev1d         1d         5d         1m
count   2489.00000 2489.00000 2489.00000 2489.00000 2489.00000 2489.00000
mean      -0.00948    0.00163    0.00091   -0.00290   -0.01334   -0.02627
std        0.16143    0.09063    0.03336    0.03501    0.08619    0.18456
min       -0.62695   -0.41773   -0.11672   -0.12778   -0.40620   -0.97060
max        0.38611    0.28953    0.11788    0.10312    0.20961    0.32676
t-stat    -2.93113    0.89704    1.36062   -4.13882   -7.72380   -7.10220
p-value    0.00341    0.36979    0.17376    0.00004    0.00000    0.00000

In [8]:
summary(winsorize_returns(senate, tr_type='Purchase')[return_cols], 'Senate Purchase')

           prev1m    prev5d    prev1d        1d        5d        1m
count   536.00000 536.00000 536.00000 536.00000 536.00000 536.00000
mean     -0.00975  -0.00748  -0.00101  -0.00180  -0.00002  -0.01141
std       0.17477   0.08461   0.03730   0.03198   0.08159   0.15129
min      -0.75026  -0.31583  -0.12679  -0.10760  -0.24778  -0.72906
max       0.53339   0.27295   0.13456   0.11122   0.36034   0.36926
t-stat   -1.29153  -2.04622  -0.62695  -1.30563  -0.00642  -1.74623
p-value   0.19708   0.04122   0.53096   0.19224   0.99488   0.08134

In [9]:
summary(winsorize_returns(senate, tr_type='Sale')[return_cols], 'Senate Sale')

           prev1m    prev5d    prev1d        1d        5d        1m
count   605.00000 605.00000 605.00000 605.00000 605.00000 605.00000
mean      0.00670   0.00488   0.00433   0.00018   0.00135   0.01468
std       0.14990   0.07377   0.03071   0.03079   0.06465   0.14237
min      -0.43556  -0.20249  -0.09702  -0.11499  -0.22090  -0.36836
max       0.45439   0.31793   0.09236   0.07105   0.20835   0.48313
t-stat    1.09954   1.62792   3.47072   0.14498   0.51500   2.53609
p-value   0.27197   0.10406   0.00056   0.88478   0.60674   0.01146

In [10]:
def avg_by_stock(returns, tr_type=None):
    ws_returns = winsorize_returns(returns, tr_type)
    return ws_returns.groupby('ticker')[return_cols].mean()

In [11]:
# summary(avg_by_stock(house, tr_type='Purchase'))

In [12]:
# summary(avg_by_stock(house, tr_type='Sale'))

In [13]:
# summary(avg_by_stock(senate, tr_type='Purchase'))

In [14]:
# summary(avg_by_stock(senate, tr_type='Sale'))

In [15]:
amount_midpoint_map = {
    '$1,001 -':1000,
    '$1,001 - $15,000': 8000.5,
    '$15,001 - $50,000': 32500.5,
    '$50,001 - $100,000': 75000.5,
    '$100,001 - $250,000':125000.5,
    '$250,001 - $500,000':375000.5,
    '$500,001 - $1,000,000':750000.5,
    '$1,000,001 - $5,000,000':2500000.5,
    '$5,000,001 - $25,000,000':15000000.5,
}

def weight_by_amount(returns, filename, tr_type=None):
    ws_returns = winsorize_returns(returns, tr_type)
    weights = ws_returns['amount'].map(lambda a: amount_midpoint_map[a])
    weighted_returns = ws_returns.copy()
    weighted_returns[return_cols] = weighted_returns[return_cols].apply(lambda col: col * weights)
    weighted_returns.to_csv(filename)

def weight_by_amount_summary(returns, tr_type=None):
    ws_returns = winsorize_returns(returns, tr_type)
    weights = ws_returns['amount'].map(lambda a: amount_midpoint_map[a])
    count = [len(ws_returns)] * 6
    mean = weightstats.DescrStatsW(ws_returns[return_cols], weights=weights).mean
    ttest = ws_returns[return_cols].apply(lambda col: weightstats.ttest_ind(col, [0]*len(col), weights=(weights, None)))
    df = pd.DataFrame(columns=return_cols)
    df.loc['count'] = count
    df.loc['mean'] = mean
    df = df.append(ttest)
    df = df.rename({0: 't-stat', 1: 'p-value'})
    df = df.rename(lambda x: x.split('_')[2], axis=1) 
    return df

In [16]:
weight_by_amount(house, 'ws_weighted_house_returns.csv')
weight_by_amount(senate, 'ws_weighted_senate_returns.csv')

In [17]:
weight_by_amount_summary(house, tr_type='Purchase')

            prev1m     prev5d     prev1d         1d         5d         1m
count         2658       2658       2658       2658       2658       2658
mean       0.01427    0.01439   -0.00117   -0.00095   -0.00629    0.00578
t-stat     6.81086    12.6384   -2.41264    -1.9925   -6.04839    2.79688
p-value        0.0        0.0    0.01584    0.04632        0.0    0.00516
2       77624455.5 77624455.5 77624455.5 77624455.5 77624455.5 77624455.5

In [18]:
weight_by_amount_summary(house, tr_type='Sale')

            prev1m     prev5d     prev1d         1d         5d         1m
count         2489       2489       2489       2489       2489       2489
mean      -0.02634   -0.01157   -0.00224    0.00107   -0.00069   -0.01117
t-stat   -11.18755   -9.16659   -4.18621    1.83608   -0.62166   -5.14768
p-value        0.0        0.0    0.00003    0.06635    0.53417        0.0
2       88953678.5 88953678.5 88953678.5 88953678.5 88953678.5 88953678.5

In [19]:
weight_by_amount_summary(senate, tr_type='Purchase')

            prev1m     prev5d     prev1d         1d         5d         1m
count          536        536        536        536        536        536
mean      -0.00778    0.00103   -0.00225   -0.00463    0.01869    0.02104
t-stat    -1.47149    0.38871   -1.98821   -4.35754    6.87769    4.47636
p-value    0.14116    0.69749    0.04679    0.00001        0.0    0.00001
2       35328802.0 35328802.0 35328802.0 35328802.0 35328802.0 35328802.0

In [20]:
weight_by_amount_summary(senate, tr_type='Sale')

            prev1m     prev5d     prev1d         1d         5d         1m
count          605        605        605        605        605        605
mean      -0.03583    0.01116    0.00232    0.00667    0.02092    0.00293
t-stat    -7.89184     5.9957    3.23593    7.61008   11.35497    0.93705
p-value        0.0        0.0    0.00121        0.0        0.0    0.34873
2       95386405.5 95386405.5 95386405.5 95386405.5 95386405.5 95386405.5

In [21]:
def avg_by_person(returns, person_col, tr_type=None):
    ws_returns = winsorize_returns(returns, tr_type)
    return ws_returns.groupby(person_col)[return_cols].mean()

In [22]:
# summary(avg_by_person(house, 'representative', tr_type='Purchase'))

In [23]:
# summary(avg_by_person(house, 'representative', tr_type='Sale'))

In [24]:
# summary(avg_by_person(senate, 'senator', tr_type='Sale'))

In [25]:
# house_daily = pd.read_csv('house_daily_returns.csv', index_col = 0)
# senate_daily = pd.read_csv('senate_daily_returns.csv', index_col = 0)
# senate_daily

In [26]:
# daily_returns_cols = [str(x) for x in range(-21,23)]

# def winsorize_daily_returns(daily_returns, tr_type):
#     ws_daily = daily_returns[daily_returns['type'] == tr_type]    
#     ws_daily[daily_returns_cols] = ws_daily[daily_returns_cols].apply(lambda col: stats.mstats.winsorize(col, limits=[0.01, 0.01]).data)
#     return ws_daily

In [27]:
# def cumulative_returns(daily_returns):
#     daily = daily_returns[daily_returns_cols]
#     cumulative = (daily+1).cumprod(axis=1)
#     return cumulative.mean() - 1

# hreturns = pd.DataFrame({"Purchase": cumulative_returns(winsorize_daily_returns(house_daily, 'Purchase')), "Sale": cumulative_returns(winsorize_daily_returns(house_daily, 'Sale'))})
# sreturns = pd.DataFrame({"Purchase": cumulative_returns(winsorize_daily_returns(senate_daily, 'Purchase')), "Sale": cumulative_returns(winsorize_daily_returns(senate_daily, 'Sale'))})

In [28]:
# def graph(hreturns, sreturns):
#     fig = make_subplots(rows = 1, cols = 2, subplot_titles=('House', 'Senate'), shared_yaxes = True)

#     fig.add_trace(go.Scatter(x = hreturns.index, y = hreturns['Purchase'], name = 'Purchase', legendgroup = 'Purchase', line_color = 'blue'), row = 1, col = 1)
#     fig.add_trace(go.Scatter(x = hreturns.index, y = hreturns['Sale'], name = 'Sale', legendgroup = 'Sale', line_color = 'red'), row = 1, col = 1)
#     fig.add_trace(go.Scatter(x = sreturns.index, y = sreturns['Purchase'], name = 'Purchase', showlegend = False, legendgroup = 'Purchase', line_color = 'blue'), row = 1, col = 2)
#     fig.add_trace(go.Scatter(x = sreturns.index, y = sreturns['Sale'], name = 'Sale', showlegend = False, legendgroup = 'Sale', line_color = 'red'), row = 1, col = 2)
#     fig.show()

In [29]:
# graph(hreturns, sreturns)